@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

html { 
    font-family: 'Montserrat', sans-serif; 
    color: white
}

body { 
    opacity: 0; 
    animation: fadeAnimation 1s ease-in-out forwards; 
}

@keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

body { 
    background-color: #009578; 
    background-size: cover;
}

img { 
    margin: 5%; 
    width: 90%; 
}

h1 {
    padding: 40px; 
    margin-top: 80px; 
}

@media (min-width: 730px) {
    h1 { 
        margin-top: 0; /* Remove margin for larger screens */
    }
} 

h3 { 
    text-align: center;
    font-size: 9vw; 
}

h4 { 
    font-size: 7vw; 
}

div { 
    margin: 20px; 
}

div * { 
    text-align: center; 
    justify-content: center;
}

div p { 
    font-size: 6vw; 
}

div small { 
    font-size: 1.7vw; 
    text-align: center; 
}

.about { 
    width: 100%; 
    transform: translateX(50%); 
}

.image-step3 { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 0; 
    align-items: center; 
}

.rustingP { 
    font-size: 2vw; 
}

.rusted { 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0; 
    align-items: center; 
}

.videos { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 0; 
    align-items: center;
}

.videos * { 
    max-width: 100%
}

.seedsindetail { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 0; 
}

hr { 
    position: relative; 
    left: 5%; 
    width: 90%; 
    height: 7px; 
    border: none; 
    background-color: white; 
    border-radius: 4px;
    margin-top: 10px; 
}

nav { 
    z-index: 3;
    width: 250px; 
    height: 65px; 
    background-color: darkslategray; 
    float: right; 
    position: absolute; 
    top: 30px; right: 35px; 
    border-radius: 15px 15px 15px 15px;
    padding: 10px 0px 10px 0px;
}

nav:hover { 
    border-radius: 15px 15px 0px 0px;
}

nav:hover ul li ul { 
    display: block; 
    transition: all 1s; 
}

/* nav p{ 
    font-family: Arial; 
    color: black; 
    font-size: 24px; 
    line-height: 55px; 
    float: left; 
    padding: 0px 20px;
} */

.Home { 
    width: 230px; 
    position: relative; 
    top: 0px; 
    left: 10px; 
} 

nav ul { 
    float: left; 
} 

nav ul li { 
    float: left; 
    list-style: none; 
    position: relative; 
}

nav ul li a{ 
    display: block; 
    color: whitesmoke; 
    font-size: 17px; 
    padding: 14px 12px; 
    text-decoration: none; 
    /* float: left;  */
}

nav ul li a:hover { 
    background-color: rgba(255,255,255,0.2); 
    border-radius: 4px; 
    transition: all 1s
}

nav ul li ul{ 
    display: none; 
    position: absolute; 
    background-color: darkslategray; 
    padding: 0px 10px 10px 10px; 
    border-radius: 0px 0px 15px 15px; 
    /* border-radius: 20px ; */
}

nav ul li ul li { 
    width: 230px; 
}

nav ul li ul li a:hover{ 
    background-color: rgba(255,255,255,0.2); 
    border-radius: 4px; 
    transition: all 1s
}

nav ul li ul li a { 
    color: whitesmoke; 
}